aside.logo {
    background-color: var(--bg-menu);
}

aside.logo img {
    height: 180%;
    width: 100%;
    padding: 5px;
    border-width: 0px;
    border-style: none;
}

div.imagen{
    margin-top: 70px;
}