.corpo1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 80px;
}

body{
    background-color: #bfc38b;
}

.img1{
    width: 45%;
    height: 350px;
    margin-top: 10px;
}

.img2{
    width: 45%;
    height: 350px;
    margin-top: 10px;
}

.img3{
    width: 45%;
    height: 350px;
}

.img4
{
    width: 45%;
    height: 350px;
}

.corpo2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
