.content{
    width: 100vw;
}

/*primeira div*/
.page-curso1{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}

.curso-div{
    display:inline-block;
    border: solid #b7ba86 1px;
    border-radius: 10px;
    padding: 10px;
    width: 180px;
    height: 230px;
    margin: 15px;
    background-color: rgb(183, 186, 134);
    box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
}

.curso-div h4{
    margin-left: 20px;
    width: 145px;
}

.curso-div img{
    margin-top: 0px;
    width: 180px;
    height: 180px;
    margin-bottom: 10px;
    border-radius: 10px;
    object-fit: cover;
}

/*segunda div*/
.page-cursos2{
    overflow-y: scroll;
    margin-left: 80px;
    width: 1435px;
    height: 335px;
}

.curso-div2{
    border-top: solid black 1px;
    padding: 10px;
    width: 1398px;
    height: 90px;
    background-color: #b7ba86;
    display: flex;
    align-items: center;
}

.curso-div2-img{
    margin-top: 0px;
    width: 130px;
    height: 60px;
    border-radius: 10px;
    object-fit: cover;
}

.curso-div2 h5{
    margin-top: 20px;
    margin-left: 15px;
    width: 150px;
}

.curso-div2 button{
    width: 100px;
    border-radius: 50px;
    height: 25px;
    margin-left: 980px;
    border: solid black 1px;
}

/*Modal*/
.modal_desc{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 150px;
    width: 450px;
    height: 120px;
    border-radius: 20px;
    display: flex;
}

.modal_desc div{
    position: fixed;
    top: 50%;
    left: 29%;
    transform: translate(-50%, -50%);
    width: 480px;
    height: 500px;
    border-radius: 20px;
    display: flex;
}

.modal_nomeCurso{
    margin-top: 20px;
    width: 500px;
    height: 50px;
}

.modal_descricao{
    width: 500px;
}

.modal_detalhes{
    
}