.titulo{
    height: 200px;
    background-color: #9da06c;
    display: flex;
    margin-bottom: 20px;
}

.corpo_descricao{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.h5{
    width: 80%;
}

.corpo_imagem{
    margin-top: 10px;
    width: 180px;
    height: 180px;
    margin-left: 30px;
    border-radius: 200px;
}

h4{
    margin-top: 70px;
    margin-left: 40px;
}

h1{
    margin-top: 100px;
    margin-left: -70px;
}

.corpo_desenvolvimento{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;
    width: 70%;
    margin: auto;
    height: 200px;
}

.details{
    width: 100%;
}

.summary{
    background-color: #9da06c;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}